# Asgardeo Configuration
VITE_ASGARDEO_CLIENT_ID=your-client-id
VITE_ASGARDEO_BASE_URL=https://api.asgardeo.io/t/your-org

# Application URLs
VITE_REDIRECT_URL=http://localhost:5173
VITE_API_BASE_URL=http://localhost:3002

# Service URLs
VITE_USER_SERVICE_URL=http://localhost:3002/api/v1
VITE_TASK_SERVICE_URL=http://localhost:3000/api/v1
VITE_PROJECT_SERVICE_URL=http://localhost:3001/api/v1
